[Unit]
Description=Gandi DNS IP Address Updater
Requires=networking.service
After=networking.service

[Service]
User=danmiller
ExecStart=/home/danmiller/projects/gandi-dns-updater/dns-updater.ros

[Install]
WantedBy=default.target
